<h1>Private page</h1>

<p>Welcome {{user.prenom}}</p>

  <p class="account-message">
    Se déconnecter
    <a href="/">Logout</a>
  </p>

  <ul>
    {{#each members}}
    <li class="member">
      {{prenom}}
      {{dateOfBirth}}
      {{email}}
      {{message}}
      {{idMessage}}
      <p>
        <a href="/birthdates/{{id}}">editer</a>
      </p>
      <form action="/birthdates/{{id}}/delete" method="POST">
        <button>Delete</button>
      </form>
    </li>
    {{/each}}
  </ul>
