<div id="titre"><h1>Modifier l'anniversaire de {{members.prenom}}</h1>
</div>

<form id="form1" action="/birthdates/{{members.id}}" method="POST">
  <p>
    <label>
      Prénom :
      <input type="text" name="prenom" value="{{members.prenom}}">
    </label>
  </p>

  <p>
    <label> 
      Date de naissance :
      <input type="date" name="dateOfBirth" value="{{members.dateOfBirth}}">
    </label>
  </p>

  <p>
    <label>
      Email :
      <input type="email" name="email" value="{{members.email}}">
    </label>
  </p>

  <p class="message">
    <label>
      Message:
      <input type="text" name="message" value="{{members.message}}">
    </label>
  </p>

  <button>Enregistrer</button>
</form>